* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.course-header {
  background-image: url(/assets/header-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-toggler {
  color: none !important;
  border: none !important;
  outline: none !important;
}

[aria-expanded^="true"] .navbar-toggler-icon {
  background-image: url(/assets/close-button.svg);
}

.nav-item {
  border-bottom: 1px solid #e6e9ed;
}

.nav-item:active .nav-link {
  color: #2052eb !important;
}

.navbar .navbar-nav .dropdown .dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(0) translateY(-50%);
  width: 0.563rem;
  height: 0.438rem;
  border: none;
  vertical-align: 0.125rem;
  background-image: url(/assets/dropdown.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-expand-lg .navbar-collapse {
  background-color: #fff;
  border-radius: 0.188rem;
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 10%);
}

.landing-split {
  margin-left: 10px;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 15%) !important;
}

.landing-split-inner {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

.landing-split-inner:hover {
  background-color: #fff !important;
}

.account:hover {
  background-color: #f4f7fe !important;
}

.active {
  color: #2052eb !important;
  background-color: #fff !important;
}

.w-100 {
  width: 100% !important;
}

.navbar .navbar-nav .dropdown .dropdown-toggle {
  position: relative;
}

.navbar .navbar-nav .dropdown .dropdown-toggle.show::after {
  transform: rotate(180deg) translateY(50%);
  position: relative;
  left: 96%;
}

.dropdown-toggle::after {
  display: inline-block;
  content: "";
}

.px-20 {
  padding: 0px 20px;
}

.py-20 {
  padding: 20px 0px;
}

.dropdown-header {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  color: #222222;
}

.nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #616972;
}

.navbar-button {
  box-shadow: 0px 3px 8px #d2dcfb !important;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.navbar-button:hover {
  color: #fff;
  background-color: #1b46c8;
  border-color: #1a42bc;
}

.doc {
  font-size: 14px;
  font-weight: 400;
  color: #616972;
  line-height: 25px;
}

.bi-chevron-right {
  font-size: 10px;
  margin-left: auto;
}

.dropdown-item:hover {
  color: #2052eb;
}

.doc-inner:hover {
  color: #2052eb !important;
  text-decoration: none !important;
}

.header-section {
  padding-top: 28px;
  padding-bottom: 25px;
}

.btn-shadow {
  box-shadow: 0px 3px 8px #d2dcfb;
}

.rounded-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d2dcfb !important;
}

.span {
  margin-top: 503px !important;
  margin-left: 4px !important;
  border: none;
  width: 16px;
  height: 16px;
  top: -2;
}

.card-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-shadow {
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 15%) !important;
}

.card-icon {
  font-weight: 700 !important;
}

.bi-alarm {
  font-size: 26px;
  line-height: 37px;
}

.bi-check-circle {
  font-size: 29px;
  line-height: 37px;
}

.bi-emoji-smile {
  font-size: 39px;
  line-height: 46px;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.course-card-1 {
  width: 205px;
  position: absolute;
  top: 40%;
  left: -5%;
}

.course-card-2 {
  width: 198px;
  position: absolute;
  top: 40%;
  left: 54%;
}

.course-text {
  font-size: 39px;
  font-weight: 700;
  line-height: 46px;
  color: #222222;
}

.author {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #616972;
}

.header-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  padding: 10px 25px !important;
  background-color: #2052eb !important;
}

.who-quest {
  color: #616972;
  background-color: transparent !important;
  text-decoration: none;
}

.card-header1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: #3f464d;
}

.sub-header {
  font-size: 20px;
  line-height: 36px;
  color: #2052eb;
  font-weight: 700;
}

.card-header2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 37px;
  color: #3f464d;
}

.sub-header2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 37px;
  color: #2052eb;
}

.display-4 {
  font-size: calc(1.5rem + 3vw);
}

.featured{
  padding: 25px 0px;
}

.badge{
  font-weight: 500;
  line-height: 12px;
  font-size: 12px;
  padding: 9px 11px;
}
.comment1{
  color:#4d75ef !important;
  background-color: #d2dcfb;
}

.comment2{
  color:#61c79b !important;
  background-color: #d8f1e6;
}

.comment3{
  color:#f37676 !important;
  background-color: #fcdddd;
}

.comment4{
  color:#e5b433 !important;
  background-color: #f8eccc;
}


.blockquote{
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #616972;
}

.avatar-name{
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.avatar-tile{
  font-size: 14px;
  line-height: 14px;
  color: #656d7e;
}

.avatar{
  width: 3.375rem;
  height: 3.375rem;
  background: transparent;
  border-radius: 100%;
  margin-right: 10px !important;
  display: inline-block;
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
@media (min-width: 583px) {
  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 50%;
    left: 8%;
  }

  .course-card-2 {
    width: 198px;
    position: absolute;
    top: 50%;
    left: 53%;
  }

  .course-text {
    font-size: 41px;
    line-height: 49px;
  }

  .card-header2 {
    line-height: 38px;
  }

  .sub-header2 {
    line-height: 38px;
  }
}

@media (min-width: 768px) {
  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 40%;
    left: -20%;
  }

  .course-card-2 {
    width: 205px;
    position: absolute;
    top: 40%;
    left: 63%;
  }

  .header-section {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .course-text {
    margin-bottom: 25px;
  }

  .row-btn {
    margin-top: 40px;
  }

  .course-text {
    font-size: 47px;
    line-height: 56px;
  }

  .card-header2,
  .sub-header2 {
    font-size: 28px;
    line-height: 40px;
  }

  .featured{
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .nav-bar .dropdown-menu {
    animation: flipInX;
    animation-duration: 1s;
  }

  .dropdown-menu-lg {
    min-width: 31rem;
    width: max-content;
    border: none;
  }

  .px-20 {
    padding: 0px;
  }

  .dropdown-menu {
    padding: 20px 20px;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }

  .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }

  .navbar .navbar-nav .dropdown .dropdown-toggle.show::after {
    transform: rotate(180deg) translateY(50%);
    position: relative;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }

  header {
    margin-bottom: 60px;
  }

  .nav-item {
    border-bottom: none;
  }

  .pt-lg-40 {
    padding-top: 40px !important;
    margin: auto;
  }

  .navbar .navbar-nav .dropdown .dropdown-toggle::after {
    position: relative;
    transform: rotate(0) translateY(0);
  }

  .navbar .navbar-nav .dropdown .dropdown-toggle.show::after {
    left: 0%;
  }

  .navbar-expand-lg .navbar-collapse {
    background-color: transparent;
    box-shadow: none;
  }

  .header-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 11%;
    left: 4%;
    margin-left: -25%;
  }

  .course-card-2 {
    width: 198px;
    position: absolute;
    top: 40%;
    left: -25%;
    margin-left: -25%;
  }

  .bi-alarm {
    font-size: 30px;
    line-height: 43px;
  }

  .bi-check-circle {
    font-size: 37px;
    line-height: 44px;
  }

  .bi-emoji-smile {
    font-size: 54px;
    line-height: 65px;
  }

  .course-text {
    font-size: 54px;
    line-height: 65px;
  }

  .author-name {
    font-size: 16px;
    line-height: 29px;
    color: #222222;
    font-weight: 700;
  }

  .card-header2,
  .sub-header2 {
    font-size: 30px;
    line-height: 43px;
  }
}

@media (min-width: 1200px) {
  .pt-lg-40 {
    padding-top: 40px !important;
  }

  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 11%;
    left: 4%;
    margin-left: -25%;
  }

  .course-card-2 {
    width: 198px;
    position: absolute;
    top: 40%;
    left: -15%;
    margin-left: -25%;
  }

  .bi-alarm {
    font-size: 30px;
    line-height: 43px;
  }

  .bi-check-circle {
    font-size: 37px;
    line-height: 44px;
  }

  .bi-emoji-smile {
    font-size: 54px;
    line-height: 65px;
  }

  .course-text {
    font-size: 60px;
    line-height: 72px;
  }

  .card-header2,
  .sub-header2 {
    font-size: 32px;
    line-height: 46px;
  }
}

@media (min-width: 1400px) {
  .pt-lg-40 {
    padding-top: 40px !important;
    max-width: 1200px;
    margin: auto;
  }

  .header-section, .featured {
    max-width: 1200px;
    margin: auto;
  }
}
