* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  overflow-x: hidden;
}

.course-header {
  background-image: url(/assets/header-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-toggler {
  color: none !important;
  border: none !important;
  outline: none !important;
}

[aria-expanded^="true"] .navbar-toggler-icon {
  background-image: url(/assets/close-button.svg);
}

.nav-item {
  border-bottom: 1px solid #e6e9ed;
}

.nav-item:active .nav-link {
  color: #2052eb !important;
}

.navbar .navbar-nav .dropdown .dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(0) translateY(-50%);
  width: 0.563rem;
  height: 0.438rem;
  border: none;
  vertical-align: 0.125rem;
  background-image: url(/assets/dropdown.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-expand-lg .navbar-collapse {
  background-color: #fff;
  border-radius: 0.188rem;
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 10%);
}

.landing-split {
  margin-left: 10px;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 15%) !important;
}

.landing-split-inner {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

.landing-split-inner:hover {
  background-color: #fff !important;
}

.account:hover {
  background-color: #f4f7fe !important;
}

.active {
  color: #2052eb !important;
  background-color: #fff !important;
}

.w-100 {
  width: 100% !important;
}

.navbar .navbar-nav .dropdown .dropdown-toggle {
  position: relative;
}

.navbar .navbar-nav .dropdown .dropdown-toggle.show::after {
  transform: rotate(180deg) translateY(50%);
  position: absolute;
  right: 0;
}

.dropdown-toggle::after {
  display: inline-block;
  content: "";
}

.px-20 {
  padding: 0px 20px;
}

.py-20 {
  padding: 20px 0px;
}

.dropdown-header {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  color: #222222;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #616972;
  padding-left:16px;
  padding-right: 16px;
}

.navbar-button {
  box-shadow: 0px 3px 8px #d2dcfb !important;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.navbar-button:hover {
  color: #fff;
  background-color: #1b46c8;
  border-color: #1a42bc;
}

.doc {
  font-size: 14px;
  font-weight: 400;
  color: #616972;
  line-height: 25px;
}

.bi-chevron-right {
  font-size: 10px;
  margin-left: auto;
}

.dropdown-item:hover {
  color: #2052eb;
}

.doc-inner:hover {
  color: #2052eb !important;
  text-decoration: none !important;
}

.header-section {
  padding-top: 28px;
  padding-bottom: 25px;
}

.btn-shadow {
  box-shadow: 0px 3px 8px #d2dcfb;
}

.rounded-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d2dcfb !important;
}

.span {
  margin-top: 503px !important;
  margin-left: 4px !important;
  border: none;
  width: 16px;
  height: 16px;
  top: -2;
}

.card-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-shadow {
  border: 0px solid rgba(0, 0, 0.125) !important;
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 15%) !important;
}

.card-icon {
  font-weight: 700 !important;
}

.bi-alarm {
  font-size: 26px;
  line-height: 37px;
}

.bi-check-circle {
  font-size: 29px;
  line-height: 37px;
}

.bi-emoji-smile {
  font-size: 39px;
  line-height: 46px;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.course-card-1 {
  width: fit-content;
  position: absolute;
  top: 40%;
  left: -1%;
}

.course-card-2 {
  width: 180px;
  position: absolute;
  top: 40%;
  left: 54%;
}

.course-text {
  font-size: 39px;
  font-weight: 700;
  line-height: 46px;
  color: #222222;
}

.author {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #616972;
}

.header-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  padding: 10px 25px !important;
  background-color: #2052eb !important;
}

.who-quest {
  color: #616972;
  background-color: transparent !important;
  text-decoration: none;
}

.card-header1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: #3f464d;
}

.sub-header {
  font-size: 20px;
  line-height: 36px;
  color: #2052eb;
  font-weight: 700;
}

.card-header2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 37px;
  color: #3f464d;
}

.sub-header2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 37px;
  color: #2052eb;
}

.display-4 {
  font-size: calc(1.5rem + 3vw);
}
/* accordion start */
.accordion-button::after {
  display: none;

}
.container-fluid{
width: 90%!important;
}

/* main accordion */
.spy-25{
padding: 25px 0px;
}

.button-m-text{
font-size: 16px;
font-weight: 600;
color: #222222!important;
padding: 20px 0px;
}

#myaccord{
margin: 40px 0px;
}

.gry{
color: #616972 !important;
font-size: 0.875rem !important;
font-weight: 400!important;
}

.lis-gray{
color: #A3ACB5;
margin: 0px;
padding: 0px;
margin-bottom: 10px!important;
list-style-type: none;
}

#hre{
margin: 0px!important;
padding: 0px!important;
}

.accordion-button[aria-expanded="false"]::before{
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b2b6bf'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  margin-right: 15px !important;
  transition: transform .2s ease-in-out;
}

.accordion-button[aria-expanded="true"]::before{
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b2b6bf'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  margin-right: 15px !important;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
  transform: rotate(180deg);
  }

  #realih{
    font-size: calc(1.2875rem + 0.45vw)!important;
    margin-bottom: 10px!important;
    font-weight:700 ;
    color: #222222;
    font-size: 26px!important;
  }

  #realihp{
    font-size: 16px!important;
    font-weight: 400;
    color: #616972!important;
    line-height: 28px;
    /* opacity: .5!important; */
  }

  /* accordion card */
  .card-shad{
    box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 15%) !important;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 15px;
  }

  .back-white{
    border: none;
    background-color: #fff!important;
  }

  .img-card{
    border-radius: 15px
  }
  .both{
    border: 1px solid transparent;
    padding: 0.625rem 1.563rem;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
  }

  .dark-blue{
    background-color:#2052EB !important;
  }

  .pale-blue{
    color: #2052EB !important;
    background-color: #d2dcfb!important;
  }

  .text-list-color{
    color: #3F464D !important;
  }

  .red-strike{
    color: #f05454!important;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    position: relative;
  }

  .red-strike::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 45%;
    background-color: red!important;
   }

   .gray-strike{
     color: #3f495e!important;
     font-size: 16px;
     line-height: 29px;
     position: relative;
   }

   .gray-strike::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 45%;
    background-color: #000!important;
   }

   .check-me{
     border-radius: 50%;
     padding:11px ;
     color: #2052EB !important;
     background-color: #d2dcfb !important;
     height: 14px;
     width: 14px;
     margin-right: 10px;
     position: relative;
   }

   .check-me::before{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }

   .coursep{
    font-size: 0.875rem !important;
   }

   .boh{
     color: #222222;
     font-size: 32px;
     font-weight: 700;
     line-height: 46px;
   }

   .myrul{
    background-color: #E6E9ED !important;
    height: 1px;
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
   }

.featured {
  padding: 25px 0px;
}

.badge {
  font-weight: 500;
  line-height: 12px;
  font-size: 12px;
  padding: 9px 11px;
  margin-bottom: 35px;
}

.comment1 {
  color: #4d75ef !important;
  background-color: #d2dcfb;
}

.comment2 {
  color: #61c79b !important;
  background-color: #d8f1e6;
}

.comment3 {
  color: #f37676 !important;
  background-color: #fcdddd;
}

.comment4 {
  color: #e5b433 !important;
  background-color: #f8eccc;
}


.blockquote {
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  color: #616972;
  margin-bottom: 35px;
}

.avatar-name {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.avatar-title {
  font-size: 14px;
  line-height: 14px;
  color: #656d7e;
}

.avatar {
  width: 3.375rem;
  height: 3.375rem;
  background: transparent;
  border-radius: 100%;
  margin-right: 10px !important;
  display: inline-block;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.course-snippet{
  padding: 25px 0px;
}

.gradient-primary::after {
  background: linear-gradient(rgba(32, 82, 235, 0), rgba(166, 186, 247, 0.65), rgba(140, 146, 158, 0.5));
  z-index: 0;}

.course-snippet-img{
  border-radius: 0.188rem;
  margin-bottom: 30px;
  position: relative;
}

.play-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%) !important;
}

.bi-play{
  margin-left: 8px;
  font-size: 20px;
}
.circle{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #fff;
}  

.course-snippet-img::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.vue-icons{
  font-size: 40px;
}

.shapes{
  top: 20%;
  right: -30%;
    z-index: -1;
}

.rounded{
  width: 35px;
  height: 35px;
  background-color: #4d75ef ;
  border-radius: 50% !important;
}

.rounded2{
  width: 35px;
  height: 35px;
  background-color: rgb(77, 117, 239, 30%) ;
  border-radius: 50% !important;
}

.card-icons{
  width: min-content;
  z-index: 9;
  margin-bottom: 25px;
}

.card1{
  background-color: #2052EB !important;
}

.card2{
  background-color: #ffffff;
}

.course-snippet h2{
  font-size: 23px;
  line-height: 34px;
  color: #222222;
  font-weight: 700;
}

.course-snippet p{
  font-size: 16px;
  line-height: 28px;
  color: #616972;
  font-weight: 400;
}

.vue-title{
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 29px;
  font-weight: 600;
}

.vue{
  font-size: 14px !important;
  font-weight: 400;
  line-height: 25px !important;
  color: #616972;
}

#fade-in .card{
 animation: fadeInUp 1s ease-in both ;
}

#fade-in .card:nth-child(2){
  animation-delay:  1s;
}

#fade-in .card:nth-child(3){
  animation-delay:  2s;
}
/* course benefit */
.my-gray-bg{
  border-radius: 0.188rem !important;
  background-color: #F4F7FE !important;
 }
 #recognise-con{
  display: flex!important;
  flex-direction: row!important;
  /* justify-content: start; */
  align-items: center;
 }
 #recognise{
  border: 4px solid #2052EB !important;
  padding-right: 25px !important;
  padding-left: 25px !important;
  margin-top: 40px !important;
  border-radius: 0.188rem !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  
 }

 .simg{
   margin-right: 20px!important;
   max-width: 100%;
   height: 65px;
   width: 65px;
   
 }
 #newpad{
   padding: 30px!important;
 }
 #newpad .check-me{
   padding: 15px!important;
 }
 .coursehead{
   color: #222222;
   font-size: 26px!important;
   font-weight: 800!important;
   line-height:38px!important ;
 }
 .rechead{
   color: #222222;
   font-size: calc(1.2875rem);
   font-weight: 700!important;
 }
 .reg-text p{
  font-size: 1rem;
 }
 /* truested by thousands */
 #trusted{
   padding-top: 50px!important;
   padding-bottom: 25px!important;
 }
 .trustedboth{
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1)!important;
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
 }
 .dbuttom{
   margin-bottom: 35px!important;
 }
 .myshrink{
   flex: 1 0 0%;
   line-height: 1.75;
 }
 .trustedhead{
  color: #222222;
  font-weight: 700;
  font-size: calc(1.2875rem + 0.45vw);
  line-height: 1.47;
  margin-bottom: 10px !important;
 }
 .trustedp{
   color: #616E89!important;
   font-weight: 400!important;
   margin-bottom: 1rem!important;
 }
.bigger{
  position: relative;
  min-height: 1848px;
}
.bigger #one{
  color: #fff;
  position: absolute;
  left: 0%;
  top: 0px;
  flex: 0 0 auto;
  width: 100%;
}
.bigger #two{
  position: absolute;
  left: 0%;
  top: 238px;
  flex: 0 0 auto;
  width: 100%;
 
}
.bigger #three{
  position: absolute;
  left: 0%;
  top: 448px;
  flex: 0 0 auto;
  width: 100%;
}
.bigger #four{
  position: absolute;
  left: 0%;
  top: 686px;
  flex: 0 0 auto;
  width: 100%;
}
.bigger #five{
  position: absolute;
  left: 0%;
  top: 924px;
  flex: 0 0 auto;
  width: 100%;
}
.bigger #six{
  position: absolute;
  left: 0%;
  top: 1162px;
  flex: 0 0 auto;
  width: 100%;
}
.bigger #seven{
    position: absolute;
    left: 0%;
    top: 1638px;
    flex: 0 0 auto;
    width: 100%;
}
.bigger #eight{
  position: absolute;
  left: 0%;
  top: 1400px;
  flex: 0 0 auto;
  width: 100%;
}
.bigger #nine{
  position: absolute;
  left: 0%;
  top: 1008px;
  display: none!important;
}
.give-shad1{
  background-color:#2052EB !important;
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 15%) !important;
  margin-bottom: 30px;
}
.give-shad{
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 15%) !important;
  margin-bottom: 30px;
}
.give-shad>*{
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem;
}
.bobyreal{
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem!important;
}
#trusted .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.188rem;
}
.myfig{
  display: block;
  margin-bottom: 0px!important;
}
.the-block{
  margin-bottom: 30px !important;
  font-size: 1rem;
  display: block;
}
.my-caption{
  display: flex!important;
  align-items: center !important;
}
.my-avat{
   display: inline-block;
    width: 3.375rem;
    height: 3.375rem;
    background: transparent;
    border-radius: 50%;
    margin-right: 10px !important;
}
.real-avat{
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50% !important;
}
 .avat-text :nth-child(1){
  line-height: 1 !important;
  font-weight: 500 !important;
  margin-bottom: 0.5rem !important;
  font-size: 1rem;
  
}
#wer{
  color: #a6baf7 !important;
  font-size: 0.875rem !important;
  margin-bottom: 0 !important;
  line-height: 1!important;
}
.avat-text > p{
  font-size: 0.875rem !important;
  margin-bottom: 0 !important;
  line-height: 1!important;
} 
/* stay up section */
 .stay-bg{
  border-radius: 0.188rem !important;
  background-color: #F4F7FE !important;
  position: relative;
}
.stay-bg img:nth-child(1){
  position: absolute!important;
  left: 50px;
    top: 75px;
}
.stay-bg img:nth-child(2){
  position: absolute!important;
  left: 160px;
  bottom: 60px
}
.stay-bg img:nth-child(4){
  position: absolute!important;
  right: 50px;
  top: 75px;
  vertical-align: middle!important;
}
.stay-bg img:nth-child(5){
  position: absolute!important;
  right: 160px;
  bottom: 60px;
  vertical-align: middle!important;
}
.stay-up-date{
  font-weight: 700 !important;
  margin-bottom: 10px !important;
  font-size: calc(1.325rem + 0.9vw);
  line-height: 1.43;
  text-align: center!important;
}
.stayk{
  flex: 0 0 auto; 
  width: 83.33333%;
} 
.stayk :nth-child(1){
  margin-bottom: 25px !important;
} 
.stay-input{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
#chan{
  flex: 0 0 auto;
  width: 83.33333%;
}
.stay-input input:nth-child(1){
  z-index: 9;
  margin-left: -2px;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  order: 0;
  border-top-left-radius: 0.188rem !important;
  border-bottom-left-radius: 0.188rem !important;
  border-right-color: transparent;
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  line-height: 1.5;
  color: #3F495E;
  border: 1px solid #D9DEE3;
  appearance: none;
  border-radius: 0.188rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.stay-input input:nth-child(2){
  order: 1;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0.188rem !important;
  border-bottom-right-radius: 0.188rem !important;
  border-left: 0;

}
#staybut{
  margin: 0.25rem;
  position: absolute;
  z-index: 9;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  color: #fff;
  background-color: #2052EB;
  font-size: 1rem;
  border-radius: 0.25rem;
  right:0;
  
}

/* footer */
#futter{
  padding-top: 50px!important;
  padding-bottom: 30px!important;
}
.foot-img{
  margin-bottom: 25px!important;
  flex: 0 0 auto;
  width: 100%;
}
.foot-t-icon{
  text-align: left!important;
  width: 100%;
  flex: 0 0 auto;
}
.givelist{
  margin-bottom: 0 !important;
  padding-left: 0;
    list-style: none
}
.thgivelist{
  margin-right: 0.313rem!important;
  display: inline-block!important;
}
#thgivelistlas{
  margin-right: 0px!important;
}
.icon-body{
    text-decoration: none!important;
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    line-height: 1.875rem;
    text-align: center;
    border-radius: 50%;
    background-color: #d2dcfb
}
.fut-icon{
  font-size: 1rem;
  color: #2052EB !important;
  font-weight: 400;
}
#fill-fut{
  margin-top: 30px!important;
}
#right-res{
  margin-top: 10px !important;
  order: 1 !important;
  flex: 0 0 auto;
    width: 100%;
}
.foot-r-col{
  color: #222222 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
#left-res{
  text-align: left !important;
  order: 0 !important;
  flex: 0 0 auto;
  width: 100%;
}
.e-fin{
  color: #222222 !important;
  margin-bottom: 20px !important;
  margin-right: 25px !important;
  display: block;
  text-decoration: none;
}

/* id screens begins */
/* #course .container{
  max-width: ;
}
#benefit .container{
  max-width: ;
}
#trusted .container{
  max-width: ;
}
#futter .container{
  max-width: ;
} */
/* id screen end */

@media (min-width: 583px) {
  .course-card-1 {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 8%;
  }

  .course-card-2 {
    width: 198px;
    position: absolute;
    top: 50%;
    left: 53%;
  }

  .course-text {
    font-size: 41px;
    line-height: 49px;
  }

  .card-header2 {
    line-height: 38px;
  }

  .sub-header2 {
    line-height: 38px;
  }
  /* id screens begins */
#course .container{
  max-width: 540px!important;
}
#benefit .container{
  max-width: 540px!important;
}
#trusted .container{
  max-width: 540px!important;
}
#stay-up .container{
  max-width: 540px!important;
}
#futter .container{
  max-width: 540px!important;
}
/* id screen end */
}

@media (min-width: 768px) {
  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 40%;
    left: -20%;
  }

  .course-card-2 {
    width: 205px;
    position: absolute;
    top: 40%;
    left: 63%;
  }

  .header-section {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .course-text {
    margin-bottom: 25px;
  }

  .row-btn {
    margin-top: 40px;
  }

  .course-text {
    font-size: 47px;
    line-height: 56px;
  }

  .card-header2,
  .sub-header2 {
    font-size: 28px;
    line-height: 40px;
  }
   /* accordion fin */
   .spy-25{
    padding: 60px 0px 80px 0px;
  }
  #myaccord{
    margin-top: 60px;
  }
  /* accordion end */

  .featured {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .course-snippet{
    padding: 60px 0px;
  }
  /* truested by thousand */
  #trusted{
    padding-top: 110px!important;
   
  }
  .bigger{
    position: relative;
    min-height: 1008px!important;
  }
  .bigger #one{
    position: absolute;
    left: 0%;
    top: 0px;
    flex: 0 0 auto;
    width: 50%;
  }
  .bigger #two{
    position: absolute;
    left: 50%;
    top: 0px;
    flex: 0 0 auto;
    width: 50%;
   
  }
  .bigger #three{
    position: absolute;
    left: 50%;
    top: 210px;
    flex: 0 0 auto;
    width: 50%;
  }
  .bigger #four{
    position: absolute;
    left: 0%;
    top: 266px;
    flex: 0 0 auto;
    width: 50%;
  }
  .bigger #five{
    position: absolute;
    left: 50%;
    top: 476px;
    flex: 0 0 auto;
    width: 50%;
  }
  .bigger #six{
    position: absolute;
    left: 0%;
    top: 532px;
    flex: 0 0 auto;
    width: 50%;
  }
  .bigger #seven{
      position: absolute;
      left: 0%;
      top: 793px!important;
      flex: 0 0 auto;
      width: 50%;
  }
  .bigger #eight{
    position: absolute;
    left: 50%;
    top: 742px;
    flex: 0 0 auto;
    width: 50%;
  
  }
  .bigger #nine{
    position: absolute;
    display: none!important;
  }
  /* stay up */
  .stay-bg{
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  #chan{
    flex: 0 0 auto !important;
    width: 66.66667%!important;
  }
  /* footer */
  
  /* id screens begins */
  #course .container{
    max-width: 720px!important;
  }
  #benefit .container{
    max-width: 720px!important;
  }
  #trusted .container{
    max-width: 720px!important;
  }
  #stay-up .container{
    max-width: 720px!important;
  }
  #futter .container{
    max-width: 720px!important;
  }
  /* id screen end */
  .foot-img{
    margin-bottom: 0px!important;
    flex: 0 0 auto;
    width: 41.66667%;
  }
  .foot-t-icon{
    text-align: right!important;
    width: 100%;
    flex: 0 0 auto;
  }
  #fill-fut{
    margin-top: 1rem !important;
  }
  #right-res{
    margin-top: 0px !important;
    order: 0 !important;
    flex: 0 0 auto;
      width: 41.6667%;
  }
  #left-res{
    text-align: right !important;
    order: 1 !important;
    flex: 0 0 auto;
    width: 58.333%;
  }
  .e-fin{
    color: #222222 !important;
    margin-bottom: 0px !important;
    margin-right: 25px !important;
    display: inline-block!important;
    text-decoration: none;
  }
  #no-marg{
    margin-right: 0px!important;
  }

  
}

@media (min-width: 992px) {
  .mb-lg-60{
    margin-bottom: 60px !important;
  }
  .nav-bar .dropdown-menu {
    animation: flipInX;
    animation-duration: 1s;
  }

  .dropdown-menu-lg {
    min-width: 31rem;
    width: max-content;
    border: none;
  }

  .px-20 {
    padding: 0px;
  }

  .dropdown-menu {
    padding: 20px 20px;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }

  .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }

  .navbar .navbar-nav .dropdown .dropdown-toggle.show::after {
    transform: rotate(180deg) translateY(50%);
    position: relative;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }

  header {
    margin-bottom: 60px;
  }

  .nav-item {
    border-bottom: none;
  }

  .pt-lg-40 {
    padding-top: 40px !important;
    margin: auto;
  }

  .navbar .navbar-nav .dropdown .dropdown-toggle::after {
    position: relative;
    transform: rotate(0) translateY(0);
  }

  .navbar .navbar-nav .dropdown .dropdown-toggle.show::after {
    left: 0%;
  }

  .navbar-expand-lg .navbar-collapse {
    background-color: transparent;
    box-shadow: none;
  }

  .header-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 11%;
    left: 4%;
    margin-left: -25%;
  }

  .course-card-2 {
    width: 198px;
    position: absolute;
    top: 40%;
    left: -25%;
    margin-left: -25%;
  }

  .bi-alarm {
    font-size: 30px;
    line-height: 43px;
  }

  .bi-check-circle {
    font-size: 37px;
    line-height: 44px;
  }

  .bi-emoji-smile {
    font-size: 54px;
    line-height: 65px;
  }

  .course-text {
    font-size: 54px;
    line-height: 65px;
  }

  .author-name {
    font-size: 16px;
    line-height: 29px;
    color: #222222;
    font-weight: 700;
  }

  .card-header2,
  .sub-header2 {
    font-size: 30px;
    line-height: 43px;
  }

  .course-snippet h2{
    font-size: 26px;
    line-height: 38px;
  }
  /* trusted */
  .bigger{
    position: relative;
    min-height: 826px!important;
  }
  .bigger #one{
    position: absolute;
    left: 0%;
    top: 0px;
    width: 33.33%!important;
  }
  .bigger #two{
    position: absolute;
    left: 33.333%!important;
    top: 0px;
    width: 33.3333%!important;
   
  }
  .bigger #three{
    position: absolute;
    left: 66.6646%!important;
    top: 0px;
    width: 33.3333%;
  }
  .bigger #four{
    position: absolute;
    left: 33.3333%!important;
    top: 238px!important;
    width: 33.3333%;
  }
  .bigger #five{
    position: absolute;
    left: 0!important;
    top: 294px!important;
    width: 33.3333%;
  }
  .bigger #six{
    position: absolute;
    left: 66.6646%!important;
    top: 294px!important;
    width: 33.3333%;
  }
  .bigger #seven{
      position: absolute;
      left: 0%!important;
      top: 584px!important;
      width: 33.3333%;
  }
  .bigger #eight{
    position: absolute;
    left: 33.333%!important;
    top: 534px!important;
    width: 33.3333%;
  }
  .bigger #nine{
    position: absolute;
    left:66.6646%;
    top: 584px!important;
    width: 33.3333%;
    display: block!important;
   
  }
  #chan{
    flex: 0 0 auto;
    width: 41.66667%!important;
  }
  /* id screens begins */
  #course .container{
    max-width: 960px!important;
  }
  #benefit .container{
    max-width: 960px!important;
  }
  #trusted .container{
    max-width: 960px!important;
  }
  #stay-up .container{
    max-width: 960px!important;
  }
  #futter .container{
    max-width: 960px!important;
  }
  /* id screen end */
  /* footer */
  #futter{
    padding-top: 70px!important;
    padding-bottom: 30px!important;
  }
  .foot-t-icon{
    text-align: right!important;
    width: 58.3333%!important;
    flex: 0 0 auto;
  }
    
}

@media (min-width: 1200px) {
  .pt-lg-40 {
    padding-top: 40px !important;
  }

  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 11%;
    left: 4%;
    margin-left: -25%;
  }

  .course-card-2 {
    width: 198px;
    position: absolute;
    top: 40%;
    left: -15%;
    margin-left: -25%;
  }

  .bi-alarm {
    font-size: 30px;
    line-height: 43px;
  }

  .bi-check-circle {
    font-size: 37px;
    line-height: 44px;
  }

  .bi-emoji-smile {
    font-size: 54px;
    line-height: 65px;
  }

  .course-text {
    font-size: 60px;
    line-height: 72px;
  }

  .card-header2,
  .sub-header2 {
    font-size: 32px;
    line-height: 46px;
  }
}

@media (min-width: 1400px) {
  .pt-lg-40 {
    padding-top: 40px !important;
    max-width: 1200px;
    margin: auto;
  }

  .header-section,
  .featured, .course-snippet {
    max-width: 1200px;
    margin: auto;
  }
}