* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.course-header {
  background-image: url(/assets/header-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.navbar-toggler {
  color: none !important;
  border: none !important;
  outline: none !important;
}

[aria-expanded^="true"] .navbar-toggler-icon {
  background-image: url(/assets/close-button.svg);
}

.nav-item {
  border-bottom: 1px solid #e6e9ed;
}

.nav-item:active .nav-link {
  color: #2052eb !important;
}

.navbar .navbar-nav .dropdown .dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(0) translateY(-50%);
  width: 0.563rem;
  height: 0.438rem;
  border: none;
  vertical-align: 0.125rem;
  background-image: url(/assets/dropdown.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-expand-lg .navbar-collapse {
  background-color: #fff;
  border-radius: 0.188rem;
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 10%);
}

.landing-split {
  margin-left: 10px;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 15%) !important;
}

.landing-split-inner {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

.landing-split-inner:hover {
  background-color: #fff !important;
}

.account:hover {
  background-color: #f4f7fe !important;
}

.active {
  color: #2052eb !important;
  background-color: #fff !important;
}

.w-100 {
  width: 100% !important;
}

.nav-pt-3{
  padding-top: 18px !important;
}

.navbar .navbar-nav .dropdown .dropdown-toggle {
  position: relative;
}

.navbar .navbar-nav .dropdown .dropdown-toggle.show::after {
  transform: rotate(180deg) translateY(50%);
  position: relative;
  left: 96%;
}

.dropdown-toggle::after {
  display: inline-block;
  content: "";
}

.px-20 {
  padding: 0px 20px;
}

.py-20{
  padding: 20px 0px;
}

.dropdown-header {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  color: #222222;
}
.nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #616972;
}

.navbar-button {
  box-shadow: 0px 3px 8px #d2dcfb !important;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.navbar-button:hover {
  color: #fff;
  background-color: #1b46c8;
  border-color: #1a42bc;
}

.doc {
  font-size: 14px;
  font-weight: 400;
  color: #616972;
  line-height: 25px;
}

.bi-chevron-right {
  font-size: 10px;
  margin-left: auto;
}

.dropdown-item:hover {
  color: #2052eb;
}

.doc-inner:hover {
  color: #2052eb !important;
  text-decoration: none !important;
}

.header-section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn-shadow {
  box-shadow: 0px 3px 8px #d2dcfb;
}

.rounded-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d2dcfb !important;
}

.span {
  margin-top: 503px !important;
  margin-left: 4px !important;
  border: none;
  width: 16px;
  height: 16px;
  top: -2;
}

.mt-60 {
  margin-top: 40px;
}

.card-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-shadow {
  box-shadow: 0 0.188rem 0.375rem rgb(140 146 158 / 15%) !important;
}

.card-icon {
  font-weight: 400;
}
.bi-alarm {
  font-size: 29px;
  line-height: 41px;
}
.bi-check-circle {
  font-size: 35px;
  line-height: 41px;
}

.bi-emoji-smile {
  font-size: 42px;
  line-height: 51px;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.course-card-1 {
  width: 205px;
  position: absolute;
  top: 50%;
  left: -7%;
}

.course-card-2 {
  width: 205px;
  position: absolute;
  top: 50%;
  left: 51%;
  padding: 3px 0px;

}

@media (min-width:583px) {
  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 50%;
    left: 8%;
  }
  
  .course-card-2 {
    width: 198px;
    position: absolute;
    top: 50%;
    left: 53%;
    padding: 3px 0px;
  
  }

}
@media (min-width: 768px) {
  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 50%;
    left: -20%;
  }
  
  .course-card-2 {
    width: 205px;
    position: absolute;
    top: 50%;
    left: 63%;
  
  }
  
  .header-section {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .course-text {
    margin-bottom: 25px;
  }

  .row-btn {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  .nav-bar .dropdown-menu {
    animation: flipInX;
    animation-duration: 1s;
  }

  .dropdown-menu-lg {
    min-width: 31rem;
    width: max-content;
    border: none;
  }

  .px-20 {
    padding: 0px;
  }

  .dropdown-menu {
    padding: 20px 20px;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }

  .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }

  .navbar .navbar-nav .dropdown .dropdown-toggle.show::after {
    transform: rotate(180deg) translateY(50%);
    position: relative;
  }
  

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
  

  header {
    margin-bottom: 60px;
  }
  .nav-item {
    border-bottom: none;
  }
  .pt-lg-40 {
    padding-top: 40px !important;
    margin: auto;
  }

  .navbar .navbar-nav .dropdown .dropdown-toggle::after {
    position: relative;
    transform: rotate(0) translateY(0);
  }
  .navbar .navbar-nav .dropdown .dropdown-toggle.show::after {
    left: 0%;
  }
  .navbar-expand-lg .navbar-collapse {
    background-color: transparent;
    box-shadow: none;
  }
  .header-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .course-card-1 {
    width: 205px;
    position: absolute;
    top: 11%;
    left: 4%;
    margin-left: -25%;
  }
  
  .course-card-2 {
    width: 198px;
    position: absolute;
    top: 50%;
    left: -15%;
    margin-left: -25%;
  }
}

@media (min-width: 1200px) {
  .pt-lg-40 {
    padding-top: 40px !important;
   
  }
}

@media (min-width: 1400px) {
  .pt-lg-40 {
    padding-top: 40px !important;
    max-width: 1200px;
    margin: auto;
  }

  .header-section, .featured {
    max-width: 1200px;
    margin: auto;
  }
}
